@model OrderHandler.UI.Models.OrderViewModel1

@{
    ViewData["Title"] = "Details";
}

<style>
    .order-section{
        display: block;
    }
    table {
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    th {
        text-align: left;
    }
</style>
<div>
    <dl class="row">
        <div class="order-section">
            <h4>Order: @Html.DisplayFor(model => model.Id)<b></b></h4>
            <h4>Customer: @Html.DisplayFor(model => model.CustomerName)<b></b></h4>
        </div>
        <table style="width:100%">
            <tr>
                <th><b>Article Name</b></th>
                <th><b>Cost: </b></th>
                <th><b>Price</b></th>
                <th><b>Article NR:</b></th>
            </tr>
            @foreach (var order in Model.OrderRow)
            {
                <tr>
                    <td>@order.ArticleNumber</td>
                    <td>@order.ArticleName</td>
                    <td>@order.ArticleAmount</td>
                    <td>@order.Price</td>
                </tr>
            }
        </table>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
