@model OrderHandler.UI.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .order-section {
        display: block;
    }

    table {
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    th {
        text-align: left;
    }
</style>
<div>
    <dl class="row">
        <table style="width:100%">
            <tr>
                <th><b>Orderrad Nr</b></th>
                <th><b>Artikel Namn</b></th>
                <th><b>Artikel Antal</b></th>
                <th><b>Pris</b></th>
                <th><b>Summerat Pris</b></th>
                <th><b>Artikel NR</b></th>
            </tr>
            @foreach (var order in Model.OrderRow)
            {
        <tr>
            <td>@order.OrderRowNr</td>
            <td>@order.ArticleName</td>
            <td>@order.ArticleAmount</td>
            <td>@order.Price SEK</td>
            <td>@order.OrderSum SEK</td>
            <td>@order.ArticleNumber</td>
        </tr>
            }
        </table>
    </dl>
</div>
<div>
    @Html.ActionLink("Lägg till orderrad", "CreateOrderRowByOrderId", new { orderId = Model.Id }) |
    <a asp-action="Index">Tillbaka</a>
</div>
