@model IEnumerable<OrderHandler.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Ordrar</h1>

<p>
    <a asp-action="Create">Skapa ny order</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <b>Order</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th><b>Action</b></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
        </td>
    </tr>
}
    </tbody>
</table>
