@model IEnumerable<OrderHandler.UI.Models.OrderRowViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Articles</h1>
<form asp-controller="Article" asp-action="CreateSearchString">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Orders Found:
                @{
                    var orderAmount = Model.ToList()[0].OrdersFound;

                    @Html.DisplayFor(model => orderAmount)
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
